extends layout
block meta
    meta(name="keywords", content="お絵かきチャット,お絵かき,チャット")
    meta(name="description", content="お絵かきチャット")
    meta(name="robots", content="nofollow")
block script
    script(type="application/javascript", src="/socket.io/socket.io.js")
    script(type="application/javascript", src="/javascripts/jquery-2.1.0.min.js")
    script(type="application/javascript", src="/javascripts/bootstrap.min.js")
    script(type="application/javascript", src="/javascripts/index.js")
    script(type="application/javascript", src="/javascripts/AddressBook.js")
block link
    link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.min.css")
block body
    div.container(style="max-width: none; important; width: 970px;")
        div.jumbotron
            h1= title

        div.row
            div.col-xs-12
                h2 お絵かきチャットって？
                p
                    まずはサンプル↓をどうぞ。気に入ったら↓↓の部屋作成へ。
                iframe(src="/00000000000000000000000000000000/", style="border: none;", width="#{widthMin + 2}", height="#{heightMin + 30}")

        div#inputpart.row
            div.col-xs-12
                h2 部屋を作る
                p パラメータは後から変更できます。

                form.form-horizontal(role="form")
                    div.form-group
                        label.col-xs-2.control-label(for="roomName") 名前
                        div.col-xs-7
                            input#roomName.form-control(type="text", maxlength="#{nameLengthMax}")
                        p.help-block #{nameLengthMax}文字以内
                    div.form-group
                        label.col-xs-2.control-label(for="roomWidth") キャンバスの幅
                        div.col-xs-2
                            input#roomWidth.form-control(type="number", min="#{widthMin}", max="#{widthMax}")
                        p.help-block #{widthMin}～#{widthMax}ピクセル  実際のサイズは枠線で +2 されます。
                    div.form-group
                        label.col-xs-2.control-label(for="roomHeight") キャンバスの高さ
                        div.col-xs-2
                            input#roomHeight.form-control(type="number", min="#{heightMin}", max="#{heightMax}")
                        p.help-block #{heightMin}～#{heightMax}ピクセル  実際のサイズは枠線とツールバーで +30 されます。
                    div.form-group
                        div.col-xs-offset-2.col-xs-10
                            button#createRoom.btn.btn-primary(type="button") 部屋を作る

        div#outputpart.row(style="display: none;")
            div.col-xs-12
                h2 あなたの部屋
                h3 URL
                div.col-xs-12
                    div.input-group
                        input#url.form-control.col-xs-12(type="text", readonly="readonly")
                        span.input-group-btn
                            button#urlOpen.btn.btn-default(type="button") 開く
                br
                br
                h3 設定変更用URL
                p
                    span(style="color: red;")他の人に知られないようにしてください。
                div.col-xs-12
                    div.input-group
                        input#configUrl.form-control.col-xs-12(type="text", readonly="readonly")
                        span.input-group-btn
                            button#configUrlOpen.btn.btn-default(type="button") 開く
                br
                br
                h3 埋め込み用タグ
                div.col-xs-12
                    div.input-group
                        input#tag.form-control.col-xs-12(type="text", readonly="readonly")
                        span.input-group-btn
                            button#tagSelect.btn.btn-default(type="button") 選択
                br
                br
                h3 マイページ
                p URLと設定変更用URLはこのページに登録されています。
                div.col-xs-12
                    div.input-group
                        input#myPageUrl.form-control.col-xs-12(type="text", readonly="readonly")
                        span.input-group-btn
                            button#myPageUrlOpen.btn.btn-default(type="button") 開く

        div.row
            div.col-xs-12
                h2 お問い合わせ
                p
                    a(href="https://twitter.com/rgx_6") @rgx_6
                    | まで
