extends layout
block link
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
block body
    div.logPage
        h1 #{name} お絵かきログ
        div
            if page != 1
                a(href='../1/') 最初
                a(href='../#{page-1}/') 前
            else
                a.inactive 最初
                a.inactive 前
            a #{page}
            if page != totalPageCount
                a(href='../#{page-0+1}/') 次
                a(href='../#{totalPageCount}/') 最後
            else
                a.inactive 次
                a.inactive 最後
        div
            ul
            each file in files
                div.thumbnail
                    a(href='/log/#{file}.png')
                        img(src='/log/thumb/#{file}.thumb.png',
                            title='#{new Date(Number(file)).toString()}',
                            alt='ファイルがないよ(´・ω・｀)')
            div.clear
