extends layout
block script
    script(type="application/javascript", src="/socket.io/socket.io.js")
    script(type="application/javascript", src="/javascripts/jquery-2.1.0.min.js")
    script(type="application/javascript", src="/javascripts/jquery-ui.min.js")
    script(type="application/javascript", src="/javascripts/jquery.colorbox-min.js")
    script(type="application/javascript", src="/javascripts/chat.js")
    script(type="application/javascript", src="/javascripts/AddressBook.js")
    script(type="application/javascript", src="/javascripts/ColorPicker.js")
block link
    link(type="text/css", rel="stylesheet", href="/stylesheets/flick/jquery-ui.min.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/colorpicker.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/colorbox.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
block body
    div.outline(style="width: #{width}px; height: #{height+28}px;")
        div#toolbar.toolbar(style="width: #{width}px; height: 28px;")
            div.drawTool
                label#brush.toggle.active(title="ブラシ") 筆
                label#eraser.toggle(title="消しゴム") 消
                label#spuit.toggle(title="スポイト") 吸
                label#mask.toggle(title="マスク") マ
            div#pallet.pallet
                #color1.selectedColor
                #color2
                #color3
                #color4
                #color5
                #color6
                #color7
                #color8
            div.brushSize
                div#brushSizeSlider.brushSizeRange(title="太さ")
                canvas#brushSizeCanvas.brushSizeCanvas(width="25px", height="25px")
            div
                label#saveButton.function(title="保存") 保
                label#clearButton.function(title="保存してクリア") 無
                label#logButton.function(title="お絵かきログ") log
                label#chatButton.toggle(title="チャット") 話
                label#helpButton.function(title="ヘルプ") ？
            div.info
                label#userCount.userCount
                label#globalUserCount.userCount
            div.clear
        div#canvasArea.canvas(style="width: #{width}px; height: #{height}px;")
            canvas#combinationCanvas.mainCanvas(width="#{width}px", height="#{height}px")
            canvas#roughCanvas.mainCanvas(width="#{width}px", height="#{height}px")
            canvas#mainCanvas.mainCanvas(width="#{width}px", height="#{height}px")
            canvas#cursorCanvas.mainCanvas(width="#{width}px", height="#{height}px")
        div#chatWindow.chatWindow.displayNone
            div.chatHeader
                div#dragHandle.dragHandle
                    チャット
                label#chatLog(title="もっと前のログ") log
                label#chatFirst(title="一番上へ") ∧
                label#chatLast(title="一番下へ") ∨
                div.clear
            div#chatMessage.chatMessage
            div.chatFooter
                input#message(type="text", maxlength="#{messageLengthMax}")
                label#messageButton 送信
                div.clear
        div
            label#roughIndicator 下描き
        div#cp.cp(style="display: none; position: fixed; background-color: #fff;")
            div#gradientBox
                img#gradientImg(src="/images/color_picker_gradient.png")
                img#circle(src="/images/color_picker_circle.gif")
            div#hueBarDiv
                img(style="position: absolute; height: 256px; width: 19px; left: 8px;", src="/images/color_picker_bar.png")
                img#arrows(style="position: absolute; height: 9px; width: 35px; left: 0px;", src="/images/color_picker_arrows.gif")
            div#Qc
                div#QcSc
                    div#quickColor
                    div#staticColor
                    div.staticColorFixed
                br
                table(width="100%", style="position: absolute; top: 55px;")
                    tr
                        td Hex:
                        td
                            input(size="8", type="text", id="hexBox", onchange="hexBoxChanged();")
                    tr
                        td Red:
                        td
                            input(size="8", type="text", id="redBox", onchange="redBoxChanged();")
                    tr
                        td Green:
                        td
                            input(size="8", type="text", id="greenBox", onchange="greenBoxChanged();")
                    tr
                        td Blue:
                        td
                            input(size="8", type="text", id="blueBox", onchange="blueBoxChanged();")
                    tr
                        td Hue:
                        td
                            input(size="8", type="text", id="hueBox", onchange="hueBoxChanged();")
                    tr
                        td Saturation:
                        td
                            input(size="8", type="text", id="saturationBox", onchange="saturationBoxChanged();")
                    tr
                        td Value:
                        td
                            input(size="8", type="text", id="valueBox", onchange="valueBoxChanged();")
                    tr
                        td
                            button#cpOK OK
                            button#cpCancel Cancel
